<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magenest::top_teacher"
             title="Manage Teacher"
             module="Magenest_Teacher"
             sortOrder="10"
             parent="Magenest::top_level"
             resource="Magento_Backend::content"/>



		<add id="Magenest_Teacher::Magenest_teacher_teacher"
             title="Teacher"
             module="Magenest_Teacher"
             sortOrder="20"
             resource="Magento_Backend::content"
             parent="Magenest::top_teacher"
             action="magenest_teacher/teacher/index"/>



	</menu>
</config>
