<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="400">
            <label>Magenest</label>
        </tab>
        <section  id="setting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magenest-setting</class>
            <label>Color</label>
            <tab>magenest</tab>
            <resource>ViMagento_HelloWorld::Configuration</resource>
            <group  id="post" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Source Model Example</label>
                <field id="colorpicker"  translate="label" type="text"  sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Magenest\Chapter10\Block\Adminhtml\System\Config\Color</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
