<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="magenest_report" id="magenest_report">
            <module before="Magento_Backend" name="Magenest_Report"/>
        </route>
    </router>
</config>
